/********************* Index Page CSS ************/

.container {
    width: 90%;
    background: #669999;
    margin: 10px auto;
    position: relative;
    max-height: 1000px;
    /*text-align:center;*/
}
.row {
    text-align: left;
    display: block;
}
body {
    font-family: "Times New Roman", Times, serif;
}
table {
    table-layout: fixed;
}
table th,
table td {
    overflow: hidden;
}
#heading1 {
    color: #fff;
    font-weight: bold;
}
#heading2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.top-div {
    width: auto;
    height: 200px;
    margin-top: 40px;
    margin-bottom: -20px;
    s
}
.create-btn {
    margin-top: 40px;
}
/************ Table CSS *****************/

.table-div {
    width: auto;
    height: 600px;
    margin-top: 0px;
}
.data-table {
    height: auto;
    width: auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.data-table > .table > thead {
    font-size: 16px;
}
.data-table > .table > tbody {
    font-size: 14px;
}
.data-table-head {
    background-color: #373a3c;
    color: #fff;
}