<html ng-app="perk_app">
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Perk Programming Test</title>
            <meta name="description" content="Programming Test">
            <meta name="author" content="Perk">
            <!-- Added links -->
            <link rel="stylesheet" type="text/css" href="style.css">
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <script src="app.js"></script>
            <!-- Required Javascript Files -->
            <script src="stub/api_responses.js"></script>
            <!-- Vendor Javascript/CSS -->
            <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <!-- Your Code Here -->
            <script>
                //console.log(usersResponse);
            </script>
        </head>
        <body ng-controller="perk_controller">
            <!-- Test Code Start -->
            <div class="container">
                <!-- Heading Start -->
                <div class="row">
                    <div class="top-div col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <h3 id="heading1">Perk Assignment</h3>
                        <button type="button" class="btn btn-success create-btn" data-toggle="modal" data-target="#myModal">Create New User</button>
                    </div>
                </div>
                <hr>
                <!-- Heading End -->
                <!-- Table Start -->
                <div class="row">
                    <div class="table-div col-md-12 col-lg-12 col-xs-12 col-sm-12 data-table">
                        <h4 id="heading2">Users Table</h4>
                        <table class="table table-inverse ">
                            <thead class="data-table-head">
                                <tr>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Is Suspended</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td scope="row">{{user.email}}</td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td ng-if="user.is_suspended == true">
                                        <p style="margin-top: 10px;"><span class="label label-success">{{user.is_suspended}}</span></p>
                                    </td>
                                    <td ng-if="user.is_suspended == false">
                                        <p style="margin-top: 10px;"><span class="label label-danger">{{user.is_suspended}}</span></p>
                                    </td>
                                    <td><button type="submit" class="btn btn-primary" ng-click="editUser(user)" style="width: 60px;" data-toggle="modal" data-target="#myModal1">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Table End -->
                <!-- Modal Start -->
                <!-- Modal Add User Start -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Users</h4>
                            </div>
                            <div class="modal-body">
                                <form name="form" role="form" class="[submitted && form.email.$invalid]">
                                    <div class="form-group">
                                        <label>Email address:</label>
                                        <!--input type="email" class="form-control" ng-model="email" -->
                                        <input name = "email" class="form-control" type = "email" ng-model = "email" length = "100" placeholder="Email Id" required>
                                        <span style = "color:red" ng-show = "form.email.$dirty && form.email.$invalid">
                                        <span ng-show = "form.email.$error.required">Email is required.</span>
                                        <span ng-show = "form.email.$error.email">Invalid email address.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" ng-model="first_name" placeholder="First Name" required>                     
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" ng-model="last_name"placeholder="Last Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" name="password"  class="form-control" ng-model="passwd" placeholder="Password" ng-minlength="4" ng-maxlength="10" required>
                                        <span ng-show="form.password.$error.required && form.password.$dirty" style="color: red;">Required</span>
                                        <span ng-show="!form.password.$error.required && (form.password.$error.minlength || form.password.$error.maxlength) && form.password.$dirty" style="color: red;">Passwords must be between 4 and 10 characters.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password:</label>
                                        <input type="password" name="conf_pass" class="form-control" ng-model="confrm_passwd" placeholder="Confirm Password" valid-password-c required >
                                        <span ng-show="form.conf_pass.$error.required && form.conf_pass.$dirty" style="color: red;">Please confirm your password.</span>
                                        <span ng-show="!form.conf_pass.$error.required && form.conf_pass.$error.noMatch && form.password.$dirty" style="color: red;">Passwords do not match.</span>
                                    </div>
                                </form>
                                <div class="panel panel-danger" ng-if="check == false">
                                    <div class="panel-heading">Passwords does not Match!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" ng-click="addUser(); submitted=true;" ng-disabled="form.$invalid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Add User end -->
                <!-- Modal Edit User Start -->
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Users</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                    <div class="form-group required">
                                        <label>Email address:</label>
                                        <input type="email" class="form-control" ng-model="edit_user.email" ng-value="{{edit_user.email}}">
                                    </div>
                                    <div class="form-group required">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" ng-model="edit_user.first_name" ng-value="{{edit_user.first_name}}">
                                    </div>
                                    <div class="form-group required">
                                        <label for="pwd">Last Name:</label>
                                        <input type="text" class="form-control" ng-model="edit_user.last_name" ng-value="{{edit_user.last_name}}">
                                    </div>
                                    <div class="form-group required">
                                        <label><input type="checkbox" ng-model="edit_user.is_suspended" ng-value="{{edit_user.is_suspended}}">Is Suspended:</label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" data-dismiss="modal">Update</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Edit User end -->
                <!-- Modal End -->
            </div>
            <!-- Test Code End -->
        </body>
    </html>